<button *ngIf="!volumes" (click)="getVolumes()" type="button" class="btn btn-info btn-lg">
  <span aria-hidden="true" class="glyphicon glyphicon-refresh"></span> Refresh
</button>
<app-alert [config]="alertVList"></app-alert>
<div *ngIf="!alertConfigVList && volumes && !currVolume" role="alert" class="alert alert-info volumes-alert">
  Volume structure data is not available. Please select your volume space!
</div>
<app-alert [config]="alertVStructure"></app-alert>
<ul class="volumes__list">
  <li *ngFor="let volume of volumes">
    <div [ngClass]="{'active': currVolume === volume}" class="volumes-item">
      <span [ngStyle]="{backgroundColor: volume.color}" aria-hidden="true" class="volumes-item-icon"></span>
      <h3 class="volumes-item-title">
        {{ volume.id.replace('-', ' ') }}
      </h3>
      <button (click)="setCurrVolume(volume)" type="button" class="btn btn-primary volumes-item-button">Open</button>
    </div>
  </li>
</ul>
